:root {
  /* color */
  --white: #fff;
  --deep-purple: #302c42;

  /* font */
  --fontFamily-montserrat: "Montserrat", "Roboto", sans-serif;

  /* font-size */
  --fontSize-sm: 12px;
  --fontSize-body-text: calc(0.6rem + 0.5vw);
  --fontSize-headline: calc(1.6rem + 1vw);
  --fontSize-gradient-text: calc(2rem + 1vw);

  /* font weight */
  --font-thin: 300;
  --font-regular: 400;
  --font-bold: 700;

  /* lineheight and letterspacing */
  --lineheight1: 1.5em;

  /* others */
  --border-40: 40px;

  /* liner-gradient */
  --text-gradient: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  --btn-gradient: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}

/* ---------------------------------- */
/*              reset               */
/* ---------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  background-color: var(--deep-purple);
  font-family: var(--fontFamily-montserrat);
  color: var(--white);
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100vw;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  display: block;
  background: none;
  font: inherit;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ---------------------------------- */
/*              reset                 */
/* ---------------------------------- */

/* ---------------------------------- */
/*              utilities             */
/* ---------------------------------- */

.section {
  padding-block: 70px;
}

.section-desc {
  font-size: var(--fontSize-body-text);
  font-weight: var(--font-regular);
  line-height: var(--lineheight1);
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-center {
  text-align: center;
}

.container {
  width: min(80%, 1280px);
  margin-inline: auto;
}

.btn {
  padding: 1rem 2.4rem;
  font-size: var(--fontSize-sm);
  border-radius: var(--border-40);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  background: var(--btn-gradient);
}

.btn-primary {
  color: var(--deep-purple);
}

.btn-secondary {
  color: var(--white);
  background: none;
  border: 2px solid var(--white);
}

/* ---------------------------------- */
/*              header                */
/* ---------------------------------- */

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 50px;
}

.nav > *:not(.navbar-list) {
  display: none;
}

.navbar-list {
  display: flex;
  gap: 30px;
}

.nav-open-btn {
  display: none;
}

.nav-btn-container {
  display: flex;
  gap: 30px;
}

.logo-container {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-item {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  color: var(--white);
}

@media (max-width: 1120px) {
  .nav {
    background-color: #302c42d5;
    position: fixed;
    top: -100%;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 600ms ease-in-out;
  }

  .header .nav > * {
    display: block;
  }

  .header .navbar-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    max-width: max-content;
    margin-inline: auto;
    margin-block-start: 2rem;
  }

  .nav.active {
    transform: translateY(100%);
  }

  .header .container.nav-active .nav-open-btn {
    opacity: 0;
    visibility: hidden;
  }

  .nav-open-btn {
    display: block;
    transition: 400ms ease-out;
  }

  .nav-close-btn {
    margin-inline-start: auto;
    margin-inline-end: 5.8vw;
    margin-block-start: 10vh;
  }

  .nav-close-btn span {
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-btn-container {
    margin-inline-start: auto;
    margin-inline-end: 30px;
  }

  .mobile-nav-logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-start: 8vh;
  }
}

@media (max-width: 768px) {
  .nav-btn-container {
    display: none;
  }
}

/* ---------------------------------- */
/*              hero                  */
/* ---------------------------------- */
.hero .container {
  display: flex;
  /* flex-wrap: no-wrap; */
}

.hero .container .left-section {
  max-width: 450px;
  margin-inline-end: auto;
  padding-block-start: 2rem;
  flex-shrink: 2;
  /* background-color: limegreen; */
}

.left-section h1 {
  font-size: var(--fontSize-headline);
  font-weight: var(--font-bold);
  color: var(--white);
  margin-block-end: 2.5rem;
}

.left-section h1 span {
  font-size: var(--fontSize-gradient-text);
  font-weight: var(--font-bold);
}

.left-section .call-to-action-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-block-start: 4rem;
  cursor: pointer;
}

.hero .container .right-section {
  background: rgba(0, 0, 0, 0.13);
  padding: 14px;
  border-radius: 100px 100px 100px 240px;

  align-self: flex-start;
}

.right-section .image-container {
  border-radius: 100px 100px 100px 240px;
  overflow: hidden;
}

.right-section .image-container img {
  height: auto;
  width: 100%;
}

@media (max-width: 992px) {
  :root {
    --fontSize-headline: calc(1.6rem + 2vw);
    --fontSize-gradient-text: calc(2rem + 2vw);
    --fontSize-body-text: calc(0.6rem + 1vw);
  }

  .hero {
    padding-block: 20px;
  }
  .hero .container {
    flex-direction: column;
  }

  .hero .container .right-section {
    order: 1;
    margin-inline: auto;
  }

  .hero .container .left-section {
    order: 2;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  .left-section .call-to-action-container .btn {
    width: 100%;
    padding-block: 1.5rem;
  }

  .left-section .call-to-action-container svg {
    display: none;
  }
}
