:root {
  /* color */
  --clr-white: #fff;
  --clr-deep-purple: #302c42;

  /* font */
  --ff-montserrat: "Montserrat", "Roboto", sans-serif;

  /* font-size */
  --fs-h1: 3.8rem;
  --fs-h2: 3.6rem;
  --fs-h3: 1.8rem;
  --fs-body: 1.6rem;
  --fs-xs: 1.2rem;
  --fs-gradient-text: 4.6rem;

  /* font weight */
  --fw-xt: 100;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* lineheight and letterspacing */
  --lh-body: 1.6;

  /* others */
  --border-40: 40px;

  /* transition */
  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --transition-3: 1000ms ease;

  /* liner-gradient */
  --text-gradient: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  --btn-gradient: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
}

/* tablet - custom properties */
@media (max-width: 992px) {
  :root {
    --fs-h1: 3.6rem;
    --fs-h2: 3.3rem;
    --fs-h3: 1.8rem;
    --fs-body: 1.5rem;
    --fs-gradient-text: 4.6rem;
  }
}

/* smartphone - custom properties  */
@media (max-width: 576px) {
  :root {
    --fs-h1: 2.6rem;
    --fs-h2: 2.3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.2rem;
    --fs-gradient-text: 3.6rem;
  }
}

/* ---------------------------------- */
/*              reset               */
/* ---------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background-color: var(--clr-deep-purple);
  font-family: var(--ff-montserrat);
  color: var(--clr-white);
  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
}

address {
  all: unset;
}

button {
  font: inherit;
  display: block;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ---------------------------------- */
/*              utilities             */
/* ---------------------------------- */

.section {
  padding-block-start: 80px;
}

.section-desc {
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: var(--lh-body);
}

.gradient-text {
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.container {
  width: min(80%, 1250px);
  margin-inline: auto;
}

.btn {
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  padding: 1em 2.5em;
  background: var(--btn-gradient);
  border-radius: var(--border-40);
}

.btn-primary {
  color: var(--clr-deep-purple);
}

.btn-secondary {
  color: var(--clr-white);
  background: none;
  border: 1.5px solid var(--clr-white);
}

/* utilities media queries */
@media (max-width: 992px) {
  .section {
    padding-block-start: 60px;
  }
}

@media (max-width: 576px) {
  .section {
    padding-block-start: 40px;
  }
}

/* ---------------------------------- */
/*              header                */
/* ---------------------------------- */

.header .container {
  display: flex;
  justify-content: space-between;
  padding-block-start: 2em;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: var(--clr-deep-purple);
}

.nav > *:not(.navbar-list),
.nav .nav-btn-container {
  display: none;
}

.logo-container {
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-list {
  display: flex;
  gap: 30px;
}

.nav-item {
  text-transform: uppercase;
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
}

.nav-btn-container {
  display: flex;
  gap: 30px;
}

.nav-open-btn {
  display: none;
}

/* special breakpoint */
@media (max-width: 1250px) {
  .nav {
    position: fixed;
    top: -100%;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: #302c42eb;
    transition: var(--transition-2);
  }

  .nav.active {
    transform: translateY(100%);
  }

  .header .nav > * {
    display: block;
  }

  .header .navbar-list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    max-width: max-content;
    margin-inline: auto;
    margin-block-start: 2rem;
  }

  .header .container.nav-active .nav-open-btn {
    opacity: 0;
    visibility: hidden;
  }

  .nav-open-btn {
    display: block;
    transition: var(--transition-2);
  }

  .nav-close-btn {
    margin-inline-start: auto;
    margin-inline-end: 10vw;
    margin-block-start: 7vh;
  }

  .nav-close-btn span {
    font-size: 2rem;
    font-weight: bold;
  }

  .nav-btn-container {
    margin-inline-start: auto;
    margin-inline-end: 30px;
  }

  .mobile-nav-logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-start: 8vh;
  }
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .nav-btn-container {
    display: none;
  }

  .navbar-list .nav-btn-container {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }
}

@media (max-width: 576px) {
  .header .logo-container svg {
    transform: scale(0.7);
    margin-inline-start: -15px;
  }

  .container {
    width: 90%;
  }

  .header .container {
    padding-block-start: 10px;
  }

  .header .logo-container {
    gap: 0px;
  }
}

/* ---------------------------------- */
/*              hero                  */
/* ---------------------------------- */
.hero .top-container {
  display: flex;
  margin-block-start: 100px;
}

.hero .container .hero-content {
  max-width: 460px;
  margin-inline-end: auto;
  align-self: center;
}

.hero-content h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-white);
  margin-block-end: 0.7em;
}

.hero-content h1 span {
  font-size: var(--fs-gradient-text);
  font-weight: var(--fw-bold);
}

.hero-content .call-to-action-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block-start: 2em;
  cursor: pointer;
}

.hero .container .right-section {
  background: rgba(0, 0, 0, 0.13);
  padding: 14px;
  border-radius: 100px 100px 100px 240px;
  align-self: flex-start;
}

.right-section .image-container {
  border-radius: 100px 100px 100px 240px;
  overflow: hidden;
}

.right-section .image-container img {
  height: auto;
  width: 100%;
}

.hero-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 2em;
  margin-block-start: max(6vh, 6vw);
  border-radius: 90px;
  background: radial-gradient(
    2900.76% 50.13% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
}

.hero-card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-block: 1em;
}

.hero-card-item-content h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  margin-block-end: 8px;
}

.hero-card-item-content > *:is(address, span) {
  font-size: var(--fs-xs);
}

.hero-card-item:nth-of-type(2) {
  width: 100%;
  border-inline: 1px solid rgba(192, 183, 232, 0.33);
}

@media (max-width: 992px) {
  .section.hero {
    padding-block: 20px;
  }

  .hero .top-container {
    flex-direction: column;
  }

  .hero .container .hero-content {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }

  .hero-content .call-to-action-container .btn {
    width: 100%;
    padding-block: 1.5em;
  }

  .hero-content .call-to-action-container svg {
    display: none;
  }

  .hero .container .right-section {
    order: 1;
    margin-inline: auto;
  }

  .hero-card {
    max-width: 550px;
    margin-inline: auto;
    grid-template-columns: 1fr;
  }
  .hero-card-item:nth-of-type(2),
  .hero-card-item:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero-content h1 {
    margin-inline: auto;
  }

  .hero-content p {
    max-width: 280px;
    margin-inline: auto;
    text-align: center;
  }

  .hero-card {
    padding-block: 1em;
  }

  .hero-card-item-content h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    margin-block-end: 8px;
  }
}

/* ---------------------------------- */
/*              about                 */
/* ---------------------------------- */

.about .introduction-and-why-container {
  display: flex;
  align-items: flex-end;
  gap: 80px;
}

.introduction-and-why-container .left {
  position: relative;
  min-width: 40%;
}

.about .container h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  line-height: 1.4;
}

.about .container h2 span {
  font-weight: var(--fw-xt);
}

.introduction-and-why-container .left .svg-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -25%;
  font-weight: var(--fw-xt);
}

.introduction-and-why-container .left .svg-container svg:last-child {
  margin-left: -30px;
}

.about .about-container {
  display: flex;
  gap: 80px;
  align-items: center;
  margin-block: 10em;
}

.about-container .left.img-container {
  min-width: 45%;
  border-radius: 240px 100px;
  background: #a3a3a3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.about-container .right p {
  padding-block: 2.5em;
}

.about-container .right button {
  font-size: var(--fs-body);
}

/* about media queries */
/* about media queries */

@media (max-width: 992px) {
  .about .introduction-and-why-container :is(.svg-container, .section-desc) {
    display: none;
  }

  .about .container :is(.left, h2) {
    margin-inline: auto;
    text-align: center;
  }

  .about .about-container {
    flex-direction: column;
    gap: 6em;
    margin-block: 6em;
  }

  .about .about-container .right button {
    margin-inline: auto;
  }
}

@media (max-width: 576px) {
  .about .about-container {
    flex-direction: column;
    gap: 4em;
    margin-block: 4em;
  }

  .about-container .left.img-container {
    border-radius: 140px 60px;
  }
}
